@media (max-width: 500px) {
  .cabecalho .logo {
    max-width: 150px;
  }

  .selecao-de-personagens {
    flex-direction: column-reverse;
    max-width: 200px;
    margin: 0 auto;
}

.selecao-de-personagens .personagens {
    margin-top: 10px;
}

#nome-personagem {
    font-size: 20px;
}

.selecao-de-personagens .personagens .titulo {
    font-size: 18px;
}
.selecao-de-personagens .lista-de-personagens {
    gap: 10px;
}
.selecao-de-personagens .personagem img {
    width: 52px;
}
.personagem-selecionado .personagem-grande {
    margin-top: 40px;
    width: 250px;
    height: 300px;
}

.personagem-selecionado .descricao-personagem {
    width: 50%;
    font-size: 12px;
    margin: 10px auto;
}
}
